@model DAB3_Assignment.Models.User

<div>
    <h2>@Model.Name (@Model.Age years)</h2>

    @if (Model.Gender == "Male")
    {
        <img src="https://www.winchcombe.co.uk/wp-content/uploads/2017/04/male-silhouette.png" width="200" />
    }
    else
    {
        <img src="https://printinnovationssummit.co.uk/wp-content/uploads/2019/05/female-silhouette.jpg" width="200" />
    }
</div>
<div class="row">
    <hr />
    <div class="col-md-4">
        <h4>Followers (@Model.Followers.Count)</h4>

        <ul>
            @foreach (var follower in Model.Followers)
            {
                <li>@Html.ActionLink(follower.Name, "Wall", new { id = @follower.ID })</li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Following (0)</h4>
    </div>
    <div class="col-md-4">
        <h4>Blocked (@Model.BlockedList.Count)</h4>

        <ul>
            @foreach (var blocked in Model.BlockedList)
            {
                <li>@Html.ActionLink(blocked.Name, "Wall", new { id = blocked.ID })</li>
            }
        </ul>
    </div>
</div>
<div>
    <hr />
    <h3>Updates (@Model.Updates.Count)</h3>

    @foreach (var update in Model.Updates)
    {
        <hr />
        <h4>@update.Content</h4>
        <p>@update.CreationTime</p>
        <hr />
    }
</div>