@model IEnumerable<DAB3_Assignment.Models.Update>

<h2>Updates</h2>

@foreach (var update in Model)
{
<div style="background-color: #E9EAED; padding: 0 0 10px 10px;">
    <hr />
    @if (update.Circles == "Public")
    {
        <h3>@Html.ActionLink(update.Author.Name, "VisitWall", "Users", new { id = update.Author.ID })</h3>
    <p>@update.CreationTime</p>
    <h4>@update.Content</h4>

    @foreach (var comment in update.Comments)
    {
        <div style="margin-left: 10px">
            <hr />
            <h5>Comment by @Html.ActionLink(comment.Author.Name, "Wall", "Users", new { id = comment.Author.ID })</h5>
            <p>@comment.CreationTime</p>
            <h6>@comment.Content</h6>
            <hr />
        </div>
    }
    }

</div>
    <hr />
}